@import './Constants.css';

.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    max-width: 1400px;
    margin: 2rem auto;
}
  
.flex-container > * {
    padding: 15px;
    flex: 1 100%;
}

.apps-list {
    flex: 1;
    order: 2;
    text-align: left;
}

.nav-categories {
    text-align: left;
    flex: 0;
    order: 1;
}