@import './Constants.css';

.pagination {
    width: 100%;
}
  
/*Pagination*/
.pagination {
    text-align: center;
    order: 3;
}

.pagination {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: center;
}
  
.pagination li {
    margin-right: .25rem;
}
  
.pagination li:last-child {
    margin-right: 0;
}
  
.pagination li a {
    transition: all 0.3s ease-in-out;
    color: var(--gray-dark);
    padding: .375rem .4375rem;
    text-decoration: none;
}
  
.pagination li a:hover {
    background: var(--teal);
    color: var(--white)
}
  
.pagination li a:focus {
    box-shadow: inset 0 0 0 2px var(--teal);
}
  
.pagination li a:active {
    background: var(--gray-dark);
    color: var(--white);
}
  
.pagination .active a {
    background: var(--teal);
    color: var(--white);
    pointer-events: none;
}